extends index.pug

block style
  style
      include web.css
      include responsive.css
block content
  .about
    section.f
      h1 ABOUT WEBSITE
      ol.order
        li This website helpful for those people who want become a fit person.
        li  Here, you can reduce your fat(%).
        li  Here, You can build your muscle.
        li  Here, You can make a good diet plan.(Diet Plan)
        li Here, you can  do different type of exercises.(Exercise)
        li Here, You can check your BMR , BMI and fat %.(Calculator)
        li Here, You could get some biological knowledge.
        li This website is design in a simple English.
      h1 ADVANTAGE OF FITNESS
      ol.order
        li Fitness makes you Diamond.
        li You have stronger bones, muscles and joints and lower risk of developing osteoporosis.
        li It reduce your risk of a heart attack.
        li It manage your weight better.
        li You have a lower blood cholesterol level and lower blood pressure.
        li You lower the risk of type 2 diabetes and some cancers.
        li  Lower your risk of falls.
    section.s
      h1 BIOLOGICAL KNOWLEDGE
      ol.order
        li Are you know ? Our mind depends upon good fat, Our heart depends upon carbohydrates and our muscles depend upon protein.
        li  Your diet must include "50% of carbs, 20% or 30% of fat ,30% or 20% of protein".
        li FAT: 1(g)=9 kcal
          ul
            li Saturated Fat.
            li Unsaturated Fat. 
        li Carbohydrate: 1(g)=4 kcal     
          ul  
            li Simple carbs.
            li Complex Carbs. 
        li Protein: 1(g)=4 kcal    
          ul
            li Lean Protein( which does not have any carbs and fats as well as have all amino acids(white portion of egg...)).
            li Complete Protein(which have carbs and fats and also have all amino acids(Daal-Chawal...))
        li You should consume 15g of fiber a day.
        li Body fat is nothing but stored energy.(carbs and fat,) 
        li protein never store in the body.
        li If your weight is 160lbs(pound) then you should consume 150g of protein .
        li For one minute walking burn calories=6.
        li  For one minute running burn calories=11.
          p  
            |Example :A person name is Motu and his weight is 100kg and after checking BMR , a day calories of Motu are 4500 
            |and he want to reduce body fat then Motu's calories must be 4000 in a day and he will reduce
            |one pound in a week.
            |and A person name is Patlu and his weight is 50kg and after checking BMR , a day calories of Patlu are 2000 calories
            |and he want to gain  weight naturally  then your diet must be 2700calories in a day and he will gain
            |one pound in a week.  
      h1 TIPS DURING FITNESS
      ol.order
        li Before doing exercise, you should warm up your body.
        li Your weight loss/gain depends upon your diet plan.
        li one pound=0.45kg=3500 kcal.
        li Exercise daily don't feel lazyness.
        li Eat the Right Foods and Portien in Each Meal.
        li Keep Track of Calories and Food Intake Per Day(according to your bmr tips).
        li  Be Sure to Get Sleep(6-8 hours).
        li Stay Motivated , That will help you during your fitness.
        li You should reduce/gain approximate one pound in a week .
        li If you would move according to above step then your muscle will not be loss.
