extends index.pug

block style
  style
      include web.css
      include responsive.css
block content
  .diet
    .tab
      h1 MAKE YOUR DIET PLAN
      table(border="1")
        tr#title
          th No.
          th Food Name
          th Quantity(g)
          th Protein(g)
          th Fat(g)
          th Carbs(g)
          th Calories
        tr
          td 1
          td Roti(chapati)
          td 1(peace)
          td 4 
          td 2
          td 20
          td 98
        tr
          td 2
          td Rice
          td 60
          td 4
          td 0
          td 48
          td 219
        tr
          td 3
          td Daal 
          td 30
          td 7
          td 0
          td 18
          td 104
        tr  
          td 4
          td Milk
          td 300(ml)
          td 9
          td 9
          td 14
          td 183
        tr
          td 5
          td Paneer
          td 100
          td 18
          td 30
          td 2
          td  352
        tr
          td 6
          td Daliya
          td 50
          td 6
          td 1
          td 36
          td 184
        tr
          td 7
          td Curd
          td 100
          td 3
          td 3
          td 4
          td 75
        tr
          td 8
          td Sprouts
          td 30
          td 7
          td 0
          td 18
          td  104
        tr
          td 9
          td Banana
          td  1
          td 0
          td 0
          td 22
          td  90
        tr
          td 10
          td Chia seeds
          td 15
          td 3
          td 4
          td 6
          td  55
        tr 
          td 11
          td Chickpeas
          td 100
          td 20
          td 6
          td 61
          td  364
        tr
          td 12
          td Soya chunks
          td 100
          td 52
          td 1
          td 33
          td  345
        tr
          td 13
          td Egg
          td 1(peace)
          td 6
          td 5
          td 1
          td 74
        tr
          td 14
          td Chicken Breast
          td 100
          td 23
          td 1
          td 0
          td 110   
        tr
          td 15
          td Fish
          td 100
          td 20
          td 1.7
          td 0
          td  96