<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bmi</title>
    <script>
function bmi(){
    var height= document.getElementById("h").value
    var weight= document.getElementById("w").value
    var bmi=weight/(height*height);
    var userBMI=document.getElementById("text_calc");
    userBMI.textContent=bmi.toFixed(2);
}
    </script>
</head>
<body>
    <div class="demo">
    <h1>Check Your BMI</h1>
    <input type="text" id="h" placeholder="Enter Your Height(in cm)" />
    <input type="text" id="w" placeholder="Enter Your Weight(in kg)" />
    <button type="button" onclick="bmi()">Calculate</button>
    <h2>BMI=<b id="text_calc"></b></h2>
</div>
</body>
</html>