extends index.pug
block scripts
    script
      include fitness.js
block style
  style
      include web.css
      include responsive.css
block content
    .container
        
        form.form(name='myform' method='post' action='/' onsubmit='return validateemail();')
            h1 How can we help you ?
            h2 CONTACT ME! 
            h3 Please fill this form in a decent manner. 
            input#name(type="text" name="name" placeholder="Your Name")
            input#name(type="text" name='email' placeholder="Your E-mail")
            input.message(type="text" name="Message" placeholder="Your Message")
            input.btn(type='submit' value='Send')
            section.icon
                a.fa.fa-facebook(href='https://www.facebook.com/pratik.shukla.7712/photos')
                a.fa.fa-instagram(href='https://www.instagram.com/shuklapraveesh/')
                h2 E-mail: praveeshbkt1999@gmail.com

            
            
