extends index.pug

block style
  style
      include web.css
      include responsive.css
block content
  .exercise
    .cardio
      h1 CARDIO EXERCISE
      ul
        li CARDIO stands for  Conventional Accurate Refined Dignified Inquisitive Obliging.
        li It speeds up the heart beat.
        li Cardio is one of the best exercise for weight loss.
        li Cardio exercise builds all muscle parts of your body.
        li  We should do cardio exercise 20-25 minutes in a day.
      ol
        li RUNNING
          img#photo(src="../static/running.jpg", alt="sorry" name='rdskn')
        li CYCLING
          img#photo(src="../static/cycle.jpg", alt="sorry")
        li DANCING
          img#photo(src="../static/dancing.jpg", alt="sorry")
        li JUMP ROPE
          img#photo(src="../static/jumping.jpg", alt="sorry")
        li SPORTS
          img#photo(src="../static/sports.jpg", alt="sorry") 
      h1 All the exercises are explained in detail on my blog.   
      
      
      
      
      