doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title FitIndia
  style
    include web.css
header.head
  #logo
    img(src='../static/logo.jpg' alt='sorry' width='150px' height='80px')
  nav#nav
    ul
      li
        a(href='/') HOME
      li
        a(href='/about.pug') ABOUT US
      li
        a(href='/') BMR AND BMI
      li
        a(href='/') EXERCISES
      li
        a(href='/') DIET PLAN
      li
        a(href='https://fitnesswithpraveeshbhai.blogspot.com/?zx') BLOG
      li
        a(href='/') CONTACT US
  .searchbar
    input#search(type='text' name='text' placeholder='search')
    button(type="text" name="button")
section.mid
  h1 WELCOME TO MY WEBSITE
footer.foot  Copyright © 2021 FitIndia.com All rights | reserved.  
