//- layout.pug
doctype html
html
  head
    meta(name='viewport' content='width=device-width,initial-scale=1')
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    title FitnessIsGame
    block scripts
        script
            include fitness.js
    block style
        style
            include responsive.css
  body
    nav#nav.nav1
        img(src='../static/logo1.jpg' alt='sorry' width='135px' height='57px')
        ul
            li
                a(href='/') HOME
            li
                a(href='about.pug') ABOUT US
            li
                a(href='bmri.pug') CALCULATOR
            li
                a(href='exercise.pug') EXERCISE
            li
                a(href='diet.pug') DIET PLAN
            li
                a(href='https://fitnesswithpraveeshbhai.blogspot.com/?zx') BLOG
            li
                a(href='contact.pug') CONTACT US
            li
    a.burger(href='#' onclick='myFunction()')
        i.fa.fa-bars          
    block content        
    block foot
    footer.foot  Copyright © 2021 FitnessIsGame.com All rights | reserved.  